.Navbar{
    background-color: rgb(19, 204, 211);
    display: flex;
    flex-direction: row;
    text-align: center;
}

.nav-logo{
    padding: 12px 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-icon {
    display: flex;
    font-size: 1.2rem;
    text-decoration: none;
    padding-left: 2px;
    color: rgb(51, 111, 202);
}

.nav-icon:active{
    color: rgb(23, 101, 218);
}

.nav-menu{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: auto;
    list-style: none;
    column-gap: 50px;
    margin-right: 50px;
    cursor: pointer;

}

.nav-link{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 20px 20px;
    transition: 250ms;
}

.nav-item button{
    margin-top: 10px;
}

.nav-link:hover{
    background-color: rgba(252, 252, 252, 0.664);
    border-radius: 4px;
    color: rgb(51, 111, 202);
}